*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.music-player{
    background-color: rgb(91, 90, 90);
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #2ceb6f;
    color: #333;
    box-shadow: 0 5px 10px rgba(177, 175, 175, 0.346);
}
.song-img{
    width: 200px;
    height: 200px;
    border-radius: 60%;
    border: 8px solid #524f4f;
    box-shadow: 0 10px 60px rgba(182, 177, 177, 0.31);
}
.music-player h1{
    font-size: 20px;
    font-weight: 400;
    color: whitesmoke;
    margin-top: 20px;
}
.music-player p{
    font-size: 14px;
    color: whitesmoke;
    margin-top: 5px;
}
#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background-color: #2ceb6f;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 100%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid rgb(53, 50, 50);
    box-shadow: 0 5px 5px rgba(171, 168, 168, 0.22);
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls div{
    width: 60px;
    height: 60px;
    margin:20px;
    background: #333;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #2ceb6f;
    box-shadow: 0 10px 20px rgba(140, 140, 140, 0.22);
    cursor: pointer;
}
.controls div:nth-child(2){
    transform: scale(1.2);
    background-color: #2ceb6f;
    color: rgb(73, 72, 72);
}